h1 {
	font-size: 26pt;
	color: blue;
	text-align: left;
}

.title {
	font-size: 40pt;
	color: #00FFFF;
	text-align: center;
}

body {
	margin-left: 15%;
	margin-right: 15%;
	color: green;
	background-color: black;
}

.professional {
	color: purple;
	font-size: 18pt;
	text-align: left;
}

.types {
	color: purple;
}